
@media (max-width: 443px) {
  .hob-primary-button{
    display: none!important;
  }
  .hero-txt-wrap h1{
    font-size: 1.4rem!important;
  }

  .hero-bottom-txt {
    padding: 2rem;
    top: 70%!important;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .hob-cert-home img{
    max-width: 90px;
  }

  .hero-bottom-txt .media i{
    font-size: 1.5rem;
    text-align: left;
  }

  .category-slider img{
    max-width: 210px!important
  }

  .about-txt{
    padding: 0 20px 20px;
  }
  
.extra-margin{
  margin-top: -5rem!important;
}

.inner-service-title {
  font-size: 32px!important;
  text-align: center;
}

.case-slider img{
  max-width: 210px!important;
  margin: auto;
}

.footer-section {
  padding-top: 0rem!important;
}

}

@media (min-width: 443px) and (max-width: 575px){
  .hero-bottom-txt {
    padding: 2rem;
    top: 60%!important;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  
.extra-margin{
  margin-top: -5rem!important;
}
}



@media (min-width: 320px) and (max-width: 575px) {
  .feature-section{
    margin-top: 22rem!important;
  }

  .header-section .navbar-nav .nav-item .nav-link {
    margin-left: 0;
    margin: 0.2rem 0;
    text-align: center;
  }
  .pa-y4 {
    padding: 2rem 0;
  }
  .common-heading {
    margin-bottom: 2rem;
  }
  .common-heading h2 {
    font-size: 1.5rem;
  }
  p {
    width: 100% !important;
  }
  .fa-bars {
    color: #ffffff;
  }
  .header-section .d-flex a {
    display: block;
    text-align: center;
    width: 100%;
  }
  br {
    display: none;
  }

  .feature-box-wrap {
    margin-bottom: 2rem;
  }
  .feature-box-wrap .feat-thumbnail img {
    width: 100%;
  }
  .about-txt {
    margin-bottom: 2rem;
  }
  .number-counter-box {
    margin-bottom: 1rem;
  }
  .video-content-txt {
    margin-top: 2rem;
  }
  .servicing-platform-txt {
    margin-bottom: 2rem;
  }
  .location-tab-head .nav .nav-item .nav-link {
    margin-bottom: 0.8rem;
  }
  .video-box-wrap {
    margin-bottom: 1rem;
  }
  .footer-map-wrap {
    margin-top: 1rem;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .header-section .navbar-nav .nav-item .nav-link {
    margin-left: 0;
    margin: 0.2rem 0;
    text-align: center;
  }
  .pa-y4 {
    padding: 2rem 0;
  }

  .common-heading {
    margin-bottom: 2rem;
  }
  .common-heading h2 {
    font-size: 1.5rem;
  }
  p {
    width: 100% !important;
  }
  .fa-bars {
    color: #ffffff;
  }
  .header-section .d-flex a {
    display: block;
    text-align: center;
    width: 100%;
  }
  br {
    display: none;
  }
  .hero-bottom-txt {
    padding: 2rem;
    text-align: center;
  }
  .feature-box-wrap {
    margin-bottom: 2rem;
  }
  .feature-box-wrap .feat-thumbnail img {
    width: 100%;
  }
  .about-txt {
    margin-bottom: 2rem;
  }
  .number-counter-box {
    margin-bottom: 1rem;
  }
  .video-content-txt {
    margin-top: 2rem;
  }
  .servicing-platform-txt {
    margin-bottom: 2rem;
  }
  .location-tab-head .nav .nav-item .nav-link {
    margin-bottom: 0.8rem;
  }
  .video-box-wrap {
    margin-bottom: 1rem;
  }
  .footer-map-wrap {
    margin-top: 1rem;
  }
}